* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.6;
}

header {
  display: flex;
  justify-content: space-between;
}

section {
  margin-block: 100px;
}

.primary-navigation ul {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.primary-navigation a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

.primary-navigation a:hover,
.primary-navigation a:focus-visible {
  color: #2bcd0b;
}

.wrapper {
  max-inline-size: 1000px;
  margin-inline: auto;
}

.two-column-layout {
  display: grid;
  gap: 60px;
  margin-block-end: 60px;

  @media (width > 720px) {
    grid-template-columns: 1fr 1fr;
  }
}

h1 {
  color: #4676a9;
  text-align: center;
  font-size: 4rem;
  line-height: 1;

  @media (width > 720px) {
    font-size: 7rem;
  }
}

h2 {
  color: #cb731c;
  font-size: 2.5rem;
}

h3 {
  font-size: 1.75rem;
}

a {
  color: #2b930b;
}

a:hover,
a:focus-visible {
  color: #2bcd0b;
}

a:active {
  color: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

p,
li {
  font-size: 1.4rem;
}

.teal-text {
  color: #087a98;
}

.teal-bg {
  background: #087a98;
  color: #ffffff;
  text-align: center;
  padding: 20px;
  border: solid 4px #0b4a5a;
}

.climber-bg {
  background-image: url(../images/simple-steps.jpg);
  color: #ffffff;
  padding: 24px;
  border: solid 4px #0f6479;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

footer {
  padding: 10px;
  text-align: center;
  background: #22466c;
  color: #ffffff;
  border: solid 4px #6e84cf;
}
