* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  line-height: 1.6;
}

header {
  text-align: center;
}

section {
  margin-block: 100px;
}

.wrapper {
  max-inline-size: 1000px;
  margin-inline: auto;
}

h1 {
  color: #4676a9;
  font-size: 50px;
  text-align: center;
  font-size: 7rem;
  line-height: 1;
}

h2 {
  color: #cb731c;
  font-size: 2.5rem;
}

h3 {
  font-size: 1.75rem;
}

a {
  color: #2b930b;
}

a:hover,
a:focus-visible {
  color: #2bcd0b;
}

a:active {
  color: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}

p,
li {
  font-size: 1.4rem;
}

.teal-text {
  color: #087a98;
}

.teal-bg {
  background: #087a98;
  color: #ffffff;
  text-align: center;
  padding: 20px;
  border: solid 4px #0b4a5a;
}

.climber-bg {
  background-image: url(../images/simple-steps.jpg);
  color: #ffffff;
  padding: 24px;
  border: solid 4px #0f6479;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

footer {
  padding: 10px;
  text-align: center;
  background: #22466c;
  color: #ffffff;
  border: solid 4px #6e84cf;
}
